#############################################################
###    Will add files later to be ignored.                ###
#############################################################

# WebStorm created folder.
.idea/
